<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid d-flex">

        <a class="navbar-brand" href="/">
            Back to the main page
        </a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categories</a>
            </li>
        </ul>
    </div>
</nav>